<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>de</string>
  <key>CFBundleDisplayName</key>
  <string>Korrekturroboter</string>
  <key>CFBundleExecutable</key>
  <string>korrekturroboter</string>
  <key>CFBundleIconFile</key>
  <string>Korrekturroboter</string>
  <key>CFBundleIdentifier</key>
  <string>ch.patrickfischer.korrekturroboter</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Korrekturroboter</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSBackgroundOnly</key>
  <false/>
</dict>
</plist>
